@model UI.Models.IndexViewModel

@if (@Model.FormSubmit == true)
{
    <div class="text-center @Model.AlertClass" dir="rtl">@Model.FormMessage</div>
}
<div class="container" dir="rtl">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.AggregateGeneratorModel.AggregatePlural, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.AggregateGeneratorModel.AggregatePlural, new { @class = "form-control", dir = "ltr", placeholder = "AggregatePlural" })
            @Html.ValidationMessageFor(model => model.AggregateGeneratorModel.AggregatePlural, "فیلد ضروری", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AggregateGeneratorModel.AggregateName, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.AggregateGeneratorModel.AggregateName, new { @class = "form-control", dir = "ltr", placeholder = "AggregateName" })
            @Html.ValidationMessageFor(model => model.AggregateGeneratorModel.AggregatePlural, "فیلد ضروری", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AggregateGeneratorModel.ProjectName, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.AggregateGeneratorModel.ProjectName, new { @class = "form-control", dir = "ltr", placeholder = "ProjectName" })
            @Html.ValidationMessageFor(model => model.AggregateGeneratorModel.AggregatePlural, "فیلد ضروری", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AggregateGeneratorModel.ProjectPath, new { @class = "form-label" })
            @Html.TextBoxFor(model => model.AggregateGeneratorModel.ProjectPath, new { @class = "form-control", dir = "ltr", placeholder = "ProjectPath" })
            @Html.ValidationMessageFor(model => model.AggregateGeneratorModel.AggregatePlural, "فیلد ضروری", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AggregateGeneratorModel.AggregateClass, new { @class = "form-label" })
            @Html.TextAreaFor(model => model.AggregateGeneratorModel.AggregateClass, new { @class = "form-control", dir = "ltr", placeholder = "AggregateClass", rows = 10 })
        </div>

        <div class="form-group m-2 w-100">
            <input type="submit" value="ثبت" class="btn btn-primary" />
        </div>
    }
</div>